<div class="container">

	<button id="scrape" class="btn my-3 btn-dark">find new articles</button>

	<a href="/saved" id="scrape" class="btn my-3 btn-dark">Saved Articles</a>

	<div class="article-container"></div>
		
			
</div>