<div class="container">

	<button id="scrape" class="btn my-3 btn-dark scrape">Find New Articles</button>

	<a href="/saved" id="scrape" class="btn my-3 btn-dark">Saved Articles</a>

	<div class="article-container"></div>

	<div class="modal" tabindex="-1" role="dialog" id="scrapeModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      
	      <div class="modal-body">
	      	<div class="scape-modal-content"></div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
	      </div>
	    </div>
	  </div>
	</div>
		
			
</div>